$btn-font-weight: 300;
$font-family-sans-serif: "Roboto-Light", Helvetica, Arial, sans-serif;
$icon-font-path: "../fonts/bootstrap/";

//$brand-primary:               #2eae59;
//$brand-danger:               #ef5350;
//$brand-warning:               #ffd740;
//$brand-success:               #33b86c;
//
//$state-success-bg:               #33b86c;
//$state-info-bg:                  #29b6f6;
//$state-warning-bg:               #ffd740;
//$state-danger-bg:                #ef5350;
//
//$btn-primary-bg:           #575757;
//$btn-warning-color:        #333;
//$label-primary-bg:         #575757;
//$panel-primary-heading-bg: #575757;
//$panel-primary-border:     #575757;
//
//$alert-primary-text: #fff;
//$alert-info-text:    #fff;
//$alert-success-text: #fff;
//$alert-warning-text: #333;
//$alert-danger-text:  #fff;
//
//$close-color:                 #fff;
//
//$panel-success-text:          #fff;
//$panel-info-text:             #fff;
//$panel-warning-text:          #fff;
//$panel-danger-text:           #fff;